<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<a href="/product/create">create new product</a>
<h1>Products</h1>
<form>
    <a>Search</a>
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<form>
    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.type.name}"></td>
                <td><a th:href="@{/product/edit/__${product.id}__}">edit</a></td>
                <td><a th:href="@{/product/delete/__${product.id}__}">delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>